<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.3.5000.0">
	<notifications newPostNotificationTemplateId="dd96e59c-4ba9-636a-a0ea-ff00000a4473" newThreadNotificationTemplateId="de96e59c-4ba9-636a-a0ea-ff00000a4473" />
</forumsConfig>